.dashboard-container {
  height: 93vh;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr 1fr 1fr 1fr 50px;
  grid-template-areas:
    "sidebar upcoming upcoming upcoming stats stats"
    "sidebar upcoming upcoming upcoming stats stats"
    "sidebar details details details details details"
    "sidebar details details details details details"
    "sidebar details details details details details";
}