.dashboard-container {
  height: 96vh;
  display: grid;
  grid-template-columns: 240px repeat(3, 1fr) 1fr;
  grid-template-rows: repeat(5, 1fr) 50px;
  grid-template-areas:
    "sidebar upcoming upcoming upcoming stats"
    "sidebar upcoming upcoming upcoming stats"
    "sidebar upcoming upcoming upcoming stats"
    "sidebar details details details details"
    "sidebar details details details details"
    "sidebar details details details details";
}