.dashboard-container {
  height: 96vh;
  display: grid;
  grid-template-columns: 240px repeat(3, 1fr) 1fr;
  grid-template-rows: repeat(3, 1fr) 200px repeat(3, 1fr);
  grid-template-areas:
    "sidebar main main main main"
    "sidebar main main main main"
    "sidebar main main main main"
    "sidebar . . . ."
    "sidebar bottom bottom bottom bottom"
    "sidebar bottom bottom bottom bottom"
    "sidebar bottom bottom bottom bottom";
}